@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");

:root {
  --title-font: "Platypi", serif;
  --paragraph-font: "Fira Sans Condensed", sans-serif;
  --others-font: "Quicksand", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  color: #ecc3d8;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-image: url("./images/sakura-fall.png");
  background-size: 10%;
}

.nav_hero {
  height: 100vh;
  background-image: url("./images/hero_img.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav section start*/
nav,
.nav-items ul {
  display: flex;
  list-style: none;
}

nav {
  font-family: var(--others-font);
  font-weight: 700;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
}

.logo,
.nav-items {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  height: 5vh;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.nav-items {
  height: 5vh;
  justify-content: space-around;
}

.nav-items ul li {
  color: #5c3b56;
  margin-right: 25px;
  position: relative;
}

.nav-items ul li::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 5px;
  border-radius: 2px;
  bottom: -5px;
  left: 50%;
  background-color: rgb(5, 34, 51);
  transition: 0.5s;
}

.nav-items ul li:hover::after {
  width: 5px;
}

.nav .log-in button {
  color: #5c3b56;
  background-color: #ecc3d8;
  border-radius: 5px;
  font-weight: 700;
  padding: 5px 10px;
  border: none;
  position: relative;
  margin-right: 15px;
}

.nav .log-in button::before,
.nav .log-in button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  border-radius: 1px;
  background-color: #5c3b56;
  transition: 0.5s;
}

.nav .log-in button::before {
  top: -2px;
  right: 0;
}

.nav .log-in button::after {
  bottom: -2px;
  left: 0;
}

.nav .log-in button:hover::before,
.nav .log-in button:hover::after {
  width: 75%;
}

/* nav section end*/

/* hero start */

.hero {
  height: 95vh;
  display: flex;
}

.hero-text {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  padding-left: 25px;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-text .hero-text-gp h1 {
  font-family: var(--title-font);
  font-size: 4rem;
  text-shadow: 5px 5px #5c3b56;
}

.hero-text .hero-text-gp h5 {
  font-family: var(--others-font);
  font-size: 2rem;
}

.hero-text .hero-text-gp p {
  margin-top: 1.5rem;
  font-family: var(--paragraph-font);
  font-size: 1.3rem;
}

.hero-booking {
  display: flex;
  justify-content: center;
}

.hero-booking .location,
.hero-booking .date,
.hero-booking .search-icon {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c3b5675;
  padding: 20px 15px;
}

.hero-booking .location {
  border-radius: 75px 0px 0px 75px;
}

.hero-booking .search-icon {
  border-radius: 0px 75px 75px 0px;
}

.location-icon,
.date-icon,
.search-icon {
  font-size: 1.5rem;
  padding: 15px 15px 15px 15px;
}

.location-icon,
.date-icon {
  border-right: 2px solid #5c3b56;
}

.location-text,
.date-text {
  padding: 15px 20px;
}

.search-icon i {
  padding: 20px 20px;
  background-color: #331b2f75;
  border-radius: 50%;
}
/* hero end */

/* about start */

.about-us {
  display: flex;
  height: 100vh;
}

.about-img,
.about-text {
  flex: 1;
}

.about-img {
  background-image: url("./images/about-flower-one.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-two-images {
  position: relative;
}

.about-img .about-one,
.about-img .about-two {
  width: 250px;
  display: block;
  border-radius: 150px;
  border: 7px solid #5c3b56;
}

.about-two {
  margin-left: 210px;
  margin-top: -250px;
}

.about-text {
  padding: 50px;
  background-image: url("./images/about-flower.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text h1 {
  font-family: var(--title-font);
  color: #5c3b56;
  font-size: 2.7rem;
  text-shadow: 2px 2px #ecc3d8;
}

.about-text h5 {
  font-family: var(--others-font);
  font-size: 2rem;
  text-shadow: 3px -2px #5c3b56;
}

.about-text p {
  color: #5c3b56;
  text-shadow: 2px 2px #ecc3d8;
  margin-top: 1.5rem;
  font-family: var(--paragraph-font);
  font-size: 1.5rem;
}

.about-fatcs {
  margin-top: 25px;
  display: flex;
  text-align: start;
  justify-content: space-around;
}

.about-fatcs h5,
.about-fatcs p {
  margin: 0;
  padding: 0;
}

/* about end */

/* invite start */

.invite {
  height: 50vh;
  display: flex;
  padding: 0px 25px;
}

.invite img {
  width: 150px;
  border-radius: 75px;
  height: auto;
}

.invite-left-imgs,
.invite-right-imgs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invite-left-imgs .one {
  align-self: flex-start;
}

.invite-left-imgs .two {
  align-self: flex-end;
}

.invite-right-imgs .three {
  align-self: flex-end;
}

.invite-text {
  flex: 1;
  padding: 0px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.invite-text h1 {
  font-family: var(--title-font);
  text-shadow: 3px 2px #5c3b56;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.invite-text p {
  font-size: 1.2rem;
  text-shadow: 1px 1px #5c3b56;
  text-align: center;
  margin-bottom: 15px;
}

.invite-btns .details {
  color: #5c3b56;
  text-shadow: 2px 1px #ecc3d8;
  padding: 10px 10px;
  font-size: 1.1rem;
  background-color: #ecc3d8;
  border: none;
}

.invite-btns i {
  color: #5c3b56;
  text-shadow: 2px 1px #ecc3d8;
}

.invite-btns .learn_more {
  color: #5c3b56;
  text-shadow: 2px 1px #ecc3d8;
  padding: 10px 10px;
  font-size: 1.1rem;
  background-color: #ecc3d8;
  border: none;
}

.fa-circle {
  font-size: 0.5rem;
}

/* invite end */

/* valuess start */
.values {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* values end */
.values-details {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.value-items {
  flex: 1;
}

.values {
  text-align: center;
}

.values .value-text p {
  margin-top: 15px;
}

.value-items i {
  font-size: 1.2rem;
  padding: 25px;
  background-color: #5c3b56;
  border-radius: 50px;
}

.value-items h5 {
  font-family: var(--title-font);
  margin-top: 25px;
  font-size: 1.5rem;
}
.value-items p {
  font-family: var(--paragraph-font);
  font-size: 0.8rem;
}

/* values end */

/* image gallary start */
.images {
  padding: 10px;
}

.images h1 {
  text-align: center;
  font-size: 3rem;
  color: #5c3b56;
  text-shadow: 3px 2px #ecc3d8;
}

.images p {
  font-family: var(--paragraph-font);
  font-size: 1.5rem;
  text-align: center;
  color: #5c3b56;
  margin: 15px 0px;
}

.img-gallary {
  column-count: 4;
  margin: 0px 25px;
  padding: 0px 50px;
}

.img-gallary img {
  width: 100%;
}

.img-gallary h5 {
  font-family: var(--others-font);
  font-size: 2rem;
  color: #5c3b56;
  padding-top: 20px;
  text-shadow: 2px 2px #ecc3d8;
}

/* image gallary end */

/*booking start*/
/*booking start*/
.booking {
  background-image: url("./images/booking.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the background image covers the entire element */
  height: 50vh;
  width: 75vw; /* Adjust width as needed */
  background-position: center; /* Center the background image */
  border-radius: 50px; /* Make the element circular */
  overflow: hidden; /* Hide any overflow */
  margin: 0 auto;
  padding: 15px;
}

.booking,
.booking-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-items {
  flex-direction: column;
}

.booking .booking-items h1 {
  font-family: var(--title-font);
  text-shadow: 5px 3px #5c3b56;
  font-size: 3rem;
}

.booking .booking-items button {
  padding: 10px 15px;
  background-color: #5c3b56;
  border-radius: 10px;
  margin-top: 25px;
  font-size: 1.3rem;
  font-family: var(--others-font);
  border: none;
}
/*booking end*/

/* footer start */
/* footer{
  height: 50vh;
} */

.footer {
  display: flex;
  padding: 25px 5px 5px 25px;
  font-size: 1.3rem;
  height: 45vh;
  font-family: var(--title-font);
}

.footer-contact,
.footer-subscribe {
  flex: 2;
}

.footer h1 {
  font-size: 2rem;
  padding-bottom: 15px;
}

.footer-about,
.footer-account,
.footer-social {
  flex: 1;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer ul {
  list-style: none;
}

.footer li {
  padding-top: 15px;
}

.name {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5c3b56;
}

.footer-contact p {
  padding-top: 15px;
  padding-bottom: 0;
}

.footer-contact .contact-details .address,
.footer-contact .contact-details .phone,
.footer-contact .contact-details .website {
  padding-top: 15px;
}

.footer-subscribe input,
.footer-subscribe button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #eaeaea;
  font-family: var(--others-font);
  font-size: 1.1rem;
}

.footer-subscribe button {
  padding: 5px 7px;
}
/* footer end */

/* responsive start */
@media only screen and (max-width: 1024px) {
  .nav_hero {
    background-position: right;
  }

  .logo {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .log-in {
    display: none;
  }

  .hero-text {
    width: 100%;
    justify-content: center;
  }

  .hero-booking {
    margin-top: 150px;
  }

  .nav {
    background: linear-gradient(90deg, #5c3b56 0%, #ecc3d8 100%);
  }

  .about-img .about-one,
  .about-img .about-two {
    width: 200px;
  }

  .invite-text {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .values {
    justify-content: center;
  }

  .values-details {
    margin-top: 50px;
  }

  .img-gallary h5 {
    font-size: 1.2rem;
  }

  .booking {
    height: 25vh;
  }

  .about-two {
    margin-left: 180px;
    margin-top: -200px;
  }

  .footer {
    height: fit-content !important;
  }

  .footer-about,
  .footer-account {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  body {
    overflow-x: hidden;
  }
  .hero-text {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .hero-text {
    width: 75%;
  }
  .hero-text .hero-text-gp h1 {
    font-size: 2.5rem;
  }

  .about-us {
    flex-direction: column;
  }

  .about-img {
    background-image: url("./images/about-flower.png");
    background-position-x: right;
    background-position-y: top;
  }

  .about-text {
    background-image: url("./images/about-flower-one.png");
    background-position-x: left;
    background-position-y: bottom;
    padding-top: 0px;
  }

  .about-img,
  .about-text {
    background-size: 25%;
  }

  .invite-btns {
    display: none;
  }

  .invite-text p {
    font-size: 1rem;
  }

  .invite img {
    width: 100px;
  }

  .img-gallary h5 {
    font-size: 12px;
    padding-top: 5px;
  }

  .booking-items h1 {
    text-align: center;
  }

  .footer-social {
    display: none;
  }

  .about-two {
    margin-left: 180px;
    margin-top: -200px;
  }
}

@media only screen and (max-width: 431px) {
  body {
    overflow-x: hidden;
  }

  .hero-text {
    text-align: center;
  }

  .nav-items ul {
    display: none;
  }

  .log-in {
    display: block;
  }

  .hero-text {
    width: 100%;
    padding: 15px;
  }

  .hero-text .hero-text-gp h5,
  .hero-text .hero-text-gp h1,
  .hero-text .hero-text-gp p {
    font-style: 1rem;
    text-align: center;
  }

  .hero-booking {
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    width: 75%;
  }

  .hero-booking .location {
    border-radius: 0;
  }

  .hero-booking .search-icon {
    display: none;
  }

  .about-text {
    font-size: 1rem;
  }

  .about-text h5{
    overflow-y: hidden;
  }

  .about-text h1{
    font-size: 32px;
  }

  .invite{
    flex-direction: column;
  }
  
  .invite img {
    width: 70px;
    border-radius: 75px;
    height: auto;
  }

  .invite-left-imgs,
  .invite-right-imgs{
    width: 75%;
    margin: 0 auto;
  }

  .invite-text h1{
    font-size: 28px;
    overflow-y: hidden;
  }

  .invite-text p{
    overflow-y: hidden;
  }

  .values{
    height: 25vh;
  }

  .value-items h5,
  .value-items p{
    display: none;
  }

  .value-items i {
    padding: 15px;
  }

  .images h1{
    font-size: 1.8rem;
  }

  .images p{
    font-size: 1rem;
  }

  .img-gallary h5{
    display: none;
  }

  .booking .booking-items h1 {
    font-size: 2rem;
  }

  .footer{
    margin: 25px 0px;
  }

  .footer-contact{
    display: none;
  }

  .footer-subscribe h1{
    font-size: 1.5rem;
  }
}
